/* ===============================================================
	global style
   =============================================================== */
html, body, ul, ol, li, p, h1, h2, h3, h4{
	margin: 0;
	padding: 0;
}

ul, ol, li {
	list-style-type: none;
}

a {
	color: #666;
	text-decoration: none;
}
.container {
	padding-top: 2%;
	position: relative;
	font-size: medium;
	background-color: #b9e88b;
	font-family: "Microsoft YaHei",
				 "微软雅黑",
				 sans-serif;
}


/* ===============================================================
	nav-bar
   =============================================================== */
.nav {
	position: fixed;
	left: 0;
	top: 0;
	z-index: 100;
	width: 100%;
	height: 50px;
	line-height: 50px;
	background-color: #66a121;
	box-shadow: 0px 1px 2px rgba(0,0,0,0.25), 0px 1px 0px rgba(255,255,255,0.15) inset;
}

.nav-content {
	position: relative;
	/*max-width: 1024px;*/
	margin: 0 auto;
}
.nav-content h1 {
	padding-left: 1%;
	color: #bae98b;
}

.tags {
	position: absolute;
	right: 0;
	bottom: 0;
	padding-right: 1%;
	width: 35%;
	text-align: right;
}

.tags li {
	display: inline;
	padding-left: 3%;
}

.tags li a {
	text-decoration: none;
	color: #b9e88b;
}

/* ===============================================================
	main-content
   =============================================================== */
.main {
	margin: 0 auto;
	margin-top: 50px;
}

.section {
	margin-top: 3%;
	padding: 20px;
	background-color: #77b242;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.35);
}

.section-left {
	margin-left: 20px;
	margin-right: 430px;
}

.section h2 {
	margin-top: 2%;
	font-size: 1.5em;
}

.section h3 {
	margin-top: 2%;
	font-size: 1.3em;
	color: #555;
}

.section h4 {
	margin-top: 2%;
	font-size: 1.05em;
	color: #555;
	opacity: .66;
}

.section p {
	margin-top: 3%;
	text-indent: 2em;
	line-height: 1.6em;
	color: #111;
}

.section img {
	width: 45%;
}

.team {
	padding: 3% 0;
	padding-left: 4%;
}

.members li {
	margin-top: 1%;
}

/*  section-0
   =============================================================== */

/*  section-1
   =============================================================== */

/*  section-2
   =============================================================== */

.imgBox {
	display: inline-block;
	margin-top: 2%;
	width: 132px;
	text-align: center;
	border: 3px dotted rgba(255, 255, 255, 0.25);
}

/* 此时用 first-child 伪类无效，必须使用 id 增加权重*/
#imgBox-fir {
	border-style: double;
}

.imgBox .img-title {
	display: block;
	margin-top: 5%;
}
.imgBox img {
	margin: 2%;
	width: 94%;
}

/*  section-3
   =============================================================== */
table {
	margin-top: 2%;
	margin-left: 4%;
	width: 92%;
	border: 1px;
	border-collapse: 0;
	border-color: #333;
}

th {
	background-color: rgba(102,161,33,.3);
}
td {
	/*background-color: rgba(225, 225, 225, .1);*/
}

/*  section-4
   =============================================================== */

.section-right {
	margin-top: 0;
	margin-right: 20px;
	width: 350px;
	float: right;
}
.section-right h2 {
	padding-left: 18px;
	border-left: 4px solid #b9e88b;
	font-size: 1.2rem;
	line-height: 2.5rem;
	box-sizing: border-box;
}
.section-right h3 {
	padding-left: 22px;
	font-size: 1.1rem;
	line-height: 2.2rem;
}
.section-right form {
	padding-left: 22px;
}
.item {
	margin: 2%;
	width: 100%;
	font-size: 0.85rem;
}
.item div {
	display: inline-block;
	margin: 1%;
}
fieldset {
	margin-top: 3%;
}
.item-title {
	padding-top: 3px;
	margin-right: 0;
	width: 35%;
	text-align: right;
	vertical-align: top;
}
.item-content {
	right: 0;
	width: 58%;
}
textarea {
	width: 100%;
}

button {
	position: relative;
	right: 0;
	width: 29.5%;
	margin: 1% 1.4%;
	margin-top: 5%;
	padding: 3%;
	font-size: 0.9em;
	color: #fff;
	background-color: #66a121;
	border: 1px solid rgba(200, 200, 200, 0.15);
	border-radius: 5px;
	box-sizing: border-box;
	box-shadow: 1px 1px 3px rgba(100, 100, 100, 0.25);
}

/* ===============================================================
    footer
   =============================================================== */
footer {
	margin-top: 5%;
	padding: 6%;
	background-color: #66a131;
	border: 1px solid rgba(255, 255, 255, 0.18);
	box-shadow: 2px 2px 4px rgba(100, 100, 100, 0.35);
}

footer p {
	margin: 0 auto;
	padding: 1%;
	width: 100%;
	color: #b9e88b;
	text-align: center;
}






